body {
  font-family: Arial;
  font-size: 120%;
  background-color: #8570a5;
  color: white;
}

:root {
  --yellow: rgb(233, 233, 80);
  --hover-yellow: #D4AF37;
  --dark-purple: #563d7c;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--hover-yellow);
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: var(--dark-purple);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: var(--hover-yellow);
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: var(--dark-purple);
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  padding: 40px;
  border: 10px double var(--yellow);
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}
